<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="CSS/style.css">
</head>

<body>
    <h1>
        <%= name %>
    </h1>
    <div class="parent">
        <div class="box">
            <div>
                <% newitem.forEach((item)=>{ %>
                    <div class="child">
                        <input type="checkbox">
                        <p><%= item.name%></p>
                    </div>
                    <% }) %>
            </div>
            <form action="/" method="post">
                <input type="text" name="items" class="input" placeholder="Add new todo" autocomplete="off">
                <button type="submit" name="button" class="Submit" value=<%= name%>></button>
            </form>
        </div>
    </div>
    <a href="/work">H</a>
</body>

</html>