body{
    background-color:#974EC3;
}
.parent{
    margin-top: 12rem;
    position: absolute;
    top: 1px; /* Anchored to the top */
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Content aligned to the top */
    min-height: 45rem; /* Minimum height to allow upward expansion */
    width: 100%;
    
}
.child{
    display: flex;
    align-items : center;
}
.box{
    background-color:#DFCCFB;  
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    width:  40rem;
    border-radius: 15px;
}
.input{
    height: 2rem;
    width: 33rem;
    margin-left: 3rem;
}
p{
    font-size: 2rem;
    font-family: 'Noto Sans', sans-serif;
    border: 3px solid #DFCCFB;
    background-color: #DFCCFB;
    width: 35rem;
    margin-left: 3rem;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
}
.Submit {
    background-color: #FFF3DA;
    color: black;
    border: none;
    border-radius: 50%;
    font-size: 18px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    transition: all 0.5s ease-in-out;
}
.Submit:hover{
    transform: rotate(90deg);
}
input{
    margin-right: 2px;
    border-radius: 10px;
    text-align: center;
    border: 0.1px solid white;
    background-color: #DFCCFB;
    outline: none;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
}
/* Pseudo-element to display the plus sign */
.Submit::before {
    content: "+";
    font-size: 1.5rem;
}
.h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    
}
h1{
    color: #2c1571; 
}
.h1-child{
    width: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid white;
    border-radius: 10px;
    background-color:#D0BFFF;
}
/* mobile */
@media(max-width:670px ){
    .box{
        width: 100%;
    }
    .child{
        width: 100%;
    }
    .form{
        width: 100%;
    }
    .input{
        width: 100%;
    }
    .Submit{
        width: 100%;
    }
    .form-submit{
        display: inline-flex;
        justify-content: flex-start;
    }
}